@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);
body{
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(147, 248, 255)!important;
}

a {
  color: #00B7FF;
}
.city{
  font-size: 30px;
  font-weight: bold;
}
.container{
  background-color: aqua;
  width: 250px!important;
  display: auto !important;;
  display: flex;
  margin:auto;
}
.title{
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  
}
.input{
  padding-left: 50px;
  padding-top: 50px;
}
.checked{
  color: rgb(218, 218, 140);
}
#star{
  font-size: 25px;
  padding: 10px;
  height: 10px;
  
}
.items{
  text-align: center!important;
  padding: 5px;
}